# docker logs
fmriprep/docker-logs/
# dispatch logs
fmriprep/dispatch-logs/
# fmriprep output
fmriprep/output/
# convert output
convert/output/
# docker logs
xcp_d/docker-logs/
# dispatch logs
xcp_d/dispatch-logs/
# xcp_d output
xcp_d/output/
# connectome output
connectome/output/
# docker logs
heudiconv/docker-logs/
# dispatch logs
heudiconv/dispatch-logs/
# pycache
*/__pycache__/
